qdrant-client
openai
fastapi
uvicorn[standard]
psycopg[binary]
langchain
langchain-community
langchain-openai
langchain-experimental
pypdf
fastembed
tiktoken

graphrag
networkx
python-dotenv
pandas
numpy
lightgbm
scikit-learn
joblib