qdrant-client
openai
fastapi
uvicorn[standard]
psycopg[binary]
pymysql
pymssql
langchain
langchain-community
langchain-openai
langchain-experimental
pypdf
fastembed
tiktoken

graphrag
networkx
pytest
python-dotenv
pandas
numpy
lightgbm
scikit-learn
joblib